---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  concurrency-*,
  google-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '(^|.*/)(build|_deps|third_party|external)/.*'
FormatStyle: file
